.bread-crumb {
	display: flex;
	align-items: center;
	gap: 2px;
	margin-bottom: 46px;
}

.first-page {
	font-family: 'Opinion-Pro-Regular';
	font-weight: 400;
	font-size: 15px;
	line-height: 15px;
	color: #fff;
	margin-top: -4px;
}

.previous-page,
.current-page {
	font-weight: 500;
	font-size: 15px;
	line-height: 15px;
	color: #fff;
	margin-top: -4px;
}

.preview-section {
	margin-top: 40px;
	margin-bottom: 24px;
}

.preview-section-inner {
	background: linear-gradient(to right, rgba(0, 0, 0, 0.69), transparent),
		url(../images/route-preview-image.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 80%;
	padding: 46px 0 64px 50px;
	border-radius: 20px;
}

.preview-section-content {
	max-width: 540px;
}

.preview-title {
	font-family: 'Opinion-Pro-Bold';
	font-weight: 700;
	font-size: 54px;
	line-height: 71px;
	color: #fff;
	margin-bottom: 30px;
}

.preview-text {
	font-family: 'Opinion-Pro-Regular';
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	margin-bottom: 30px;
	color: #fff;
}

.preview-section .arrival-place-text,
.preview-section .depature-place-text,
.preview-section .road-text,
.preview-section .time-text {
	font-weight: 500;
	font-size: 16px;
	line-height: 16px;
	color: #fff;
	margin: 0;
}

.preview-section .arrival-place-text::before {
	background-image: url(../images/map-color-icon.svg);
}

.preview-section .depature-place-text::before {
	background-image: url(../images/car-color-icon.svg);
}
.preview-section .road-text::before {
	background-image: url(../images/road-color-icon.svg);
}
.preview-section .time-text::before {
	background-image: url(../images/time-color-icon.svg);
}

.preview-section .route-block-info {
	margin-bottom: 0;
}

.route-description-section-inner {
	display: flex;
	gap: 37px;
	padding-bottom: 40px;
	margin-bottom: 24px;
}

.share-social-links-container {
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 6px;
	margin-left: 37px;
}

.share-social-links-title {
	font-weight: 500;
	font-size: 13px;
	line-height: 24px;
	color: #777e90;
}

.social-link {
	transition: all 0.2s;
}

.social-link:hover {
	transform: scale(1.1);
}

.route-description-section .route-name {
	position: relative;
	top: auto;
	left: auto;
	padding: 5px 8px;
	margin-bottom: 16px;
}

.author-inforamtion-block {
	display: flex;
	gap: 16px;
	margin-bottom: 28px;
}

.author-image {
	width: 45px;
	height: 45px;
	object-fit: cover;
	border-radius: 50%;
}

.author-inforamtion-text {
	display: flex;
	flex-direction: column;
	gap: 2px;
}

.author-name {
	font-weight: 500;
	font-size: 14px;
	line-height: 24px;
	letter-spacing: -0.14px;
	color: #000000;
}

.author-link {
	text-decoration: underline;
	width: 100%;
}

.last-update-text {
	font-weight: 500;
	font-size: 14px;
	line-height: 20px;
	color: #777e90;
}

.route-description-section .route-title {
	font-weight: 500;
	font-size: 28px;
	line-height: 28px;
	color: #000;
	margin-bottom: 16px;
}

.route-text {
	font-family: 'Opinion-Pro-Regular';
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #000;
}

.route-text:not(:last-child) {
	margin-bottom: 16px;
}

.route-description-section .route-image {
	border-radius: 24px;
	min-height: 444px;
	object-fit: cover;
	object-position: 50% 90%;
	margin-bottom: 8px;
}

.route-image-description {
	font-weight: 500;
	font-size: 14px;
	line-height: 24px;
	color: #777e90;
	margin-bottom: 16px;
}

.blockquote-text {
	display: flex;
	margin-bottom: 16px;
}

.blockquote-text::before {
	content: '';
	background-color: #004b94;
	width: 16px;
	min-height: 100%;
}

.quotes-image {
	height: fit-content;
	margin-right: 10px;
	margin-left: 19px;
}

.blockquote-text .route-text {
	margin-bottom: 0;
}

.recomendations-section {
	padding-top: 40px;
}

.recomendations-section .section-title {
	margin: 0;
	padding: 0;
	width: 100%;
}

.recomendations-section .section-title::after {
	content: '';
	background-color: #d9d9d9;
	width: 100%;
	height: 1px;
	margin-right: 10px;
}

.recomendations-section .routes-line {
	margin-bottom: 70px;
}

@media (max-width: 768px) {
	.bread-crumb {
		margin-bottom: 25px;
	}
	.preview-title {
		margin-bottom: 20px;
		font-size: 48px;
	}
	.preview-text {
		font-size: 14px;
		margin-bottom: 20px;
	}
	.route-description-section .route-title {
		font-size: 22px;
	}
	.route-text {
		font-size: 14px;
	}
	.route-text:not(:last-child) {
		margin-bottom: 10px;
	}
	.route-description-section .route-image {
		min-height: 350px;
	}
	.route-description-section-inner {
		gap: 10px;
		padding-bottom: 0;
	}
	.preview-section-inner {
		padding: 40px;
	}
	.share-social-links-container {
		margin-left: 10px;
	}
}

@media (max-width: 560px) {
	.first-page {
		font-size: 12px;
	}
	.previous-page,
	.current-page {
		font-size: 12px;
	}
	.preview-title {
		font-size: 40px;
		margin-bottom: 15px;
	}
	.preview-text {
		margin-bottom: 15px;
	}
	.preview-section .arrival-place-text,
	.preview-section .depature-place-text,
	.preview-section .road-text,
	.preview-section .time-text {
		font-size: 12px;
	}
	.arrival-place-text::before,
	.depature-place-text::before,
	.road-text::before,
	.time-text::before {
		width: 20px;
		height: 20px;
	}
	.route-description-section .route-name {
		font-size: 12px;
		padding: 2px 8px;
		margin-bottom: 10px;
	}
	.bread-crumb {
		gap: 0;
	}
	.preview-section-inner {
		padding: 30px;
	}
	.route-description-section-inner {
		flex-direction: column;
	}
	.share-social-links-container {
		margin-left: 0;
		flex-direction: row;
		gap: 15px;
	}
	.share-social-links-title {
		margin-right: 5px;
	}
}

@media (max-width: 410px) {
	.preview-section .route-block-info {
		width: 100%;
		flex-wrap: wrap;
	}
	.preview-section .arrival-place-text,
	.preview-section .depature-place-text,
	.preview-section .road-text,
	.preview-section .time-text {
		width: 35%;
	}
	.preview-title {
		font-size: 32px;
		line-height: 45px;
	}
}
